<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{%style{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n}{BRIGHT}}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=orange}"/>
            <follow>true</follow>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
        <!-- Logs limit to INFO, comment out for more detailed logs from selenium -->
        <logger name="io.netty" level="INFO"/>
        <logger name="org.asynchttpclient.netty" level="INFO"/>
    </Loggers>
</Configuration>